node_modules
.env

# Hardhat files
/cache
/artifacts
backend/cache
backend/artifacts

# TypeChain files
# /typechain
# /typechain-types
# backend/typechain
# backend/typechain-types
# solidity-coverage files
/coverage
/coverage.json
backend/coverage
backend/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
backend/ignition/deployments/chain-31337

# aztec contracts
backend/contracts/aztec/L2AztecBridgeAdapter/codegenCache.json
backend/contracts/aztec/WarpToadCore/codegenCache.json
backend/scripts/deploy/aztecDeployments/31337

# circuit
backend/circuits/withdraw/target
backend/contracts/aztec/L2AztecBridgeAdapter/target/cache/*.vk
backend/contracts/aztec/WarpToadCore/target/cache/*.vk
backend/contracts/aztec/WarpToadCore/target/*.json.bak
backend/contracts/aztec/L2AztecBridgeAdapter/target/*.json.bak

# dist
backend/dist

backend/typechain-types
backend/contracts/aztec/WarpToadCore/target/WarpToadCore-WarpToadCore.json
backend/contracts/aztec/L2AztecBridgeAdapter/target/L2AztecBridgeAdapter-L2AztecBridgeAdapter.json
backend/contracts/aztec/WarpToadCore/src/artifacts/WarpToadCore.ts
backend/contracts/aztec/L2AztecBridgeAdapter/src/artifacts/L2AztecBridgeAdapter.ts
backend/store/pxe/data.mdb
backend/store/pxe/lock.mdb
backend/contracts/aztec/L2AztecBridgeAdapter/src/main.nr
backend/contracts/aztec/WarpToadCore/src/main.nr
backend/scripts/deploy/aztec/deployAztec.ts
backend/scripts/deploy/aztec/initializeAztec.ts
backend/scripts/deploy/utils/aztecUtils.ts
backend/scripts/deploy/utils/aztecUtilsNoEnv.ts
backend/scripts/dev_op/bridge.ts
backend/scripts/dev_op/deployment.ts
backend/scripts/lib/bridging.ts
backend/scripts/lib/hashing.ts
backend/scripts/lib/proving.ts
backend/store/pxe/data.mdb
backend/store/pxe/lock.mdb
backend/test/testAztecToL1.ts
backend/store/pxe/data.mdb
backend/store/pxe/lock.mdb
