node_modules
.env

# Hardhat files
/cache
/artifacts
backend/cache
backend/artifacts

# TypeChain files
# /typechain
# /typechain-types
# backend/typechain
# backend/typechain-types
# solidity-coverage files
/coverage
/coverage.json
backend/coverage
backend/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
backend/ignition/deployments/chain-31337

# aztec contracts
backend/contracts/aztec/L2AztecBridgeAdapter/target
backend/contracts/aztec/L2AztecBridgeAdapter/codegenCache.json

backend/contracts/aztec/WarpToadCore/target
backend/contracts/aztec/WarpToadCore/codegenCache.json

backend/scripts/deploy/aztecDeployments/31337

# circuit
backend/circuits/withdraw/target