# required
EVM_PRIVATE_KEY=0x...
L1_RPC=https://sepolia.infura.io/v3/<URKEY>

# aztec
L2_AZTEC_RPC=https://devnet.aztec-labs.com

# scroll
L2_SCROLL_RPC=https://scroll-sepolia.infura.io/v3/<URKEY>

# service
PORT=7070
RUN_ON_START=false
HOURLY_ENABLED=true
